<% include ./partials/header %>
<div class="ui main text container segment">
    <div class="ui huge header"><%=blog.title%></div>
    <div class="ui top attached">
        <div class="item">
            <img class="center rounded image" src="<%=blog.image%>" style="width: 350px;">
        </div>
        <div class="content">
            <span> <%= blog.created.toDateString() %> </span>
        </div>
        <div class="description">
            <p><%- blog.body %></p> 
        </div>
    </div>
    <a href="/blogs">Go back</a>
</div>
<% include ./partials/footer %>